entrypoint = "viewer.py"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "viewer:app"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "viewer:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
